@mixin tableItemPosition {

  &:nth-child(1) {
    left: 14px;
  }

  &:nth-child(2) {
    left: 38px;
  }

  &:nth-child(3) {
    left: 276px;
  }

  &:nth-child(4) {
    left: 361px;
  }

  &:nth-child(5) {
    left: 459px;
  }

  &:nth-child(6) {
    left: 536px;
  }

  &:nth-child(7) {
    left: 602px;
  }

  &:nth-child(8) {
    left: 690px;
  }

  &:nth-child(9) {
    left: 793px;
  }

  &:nth-child(10) {
    right: 16px;
  }
}

.fields {
  width: 100%;
  position: relative;

  .counter {
    display: inline-block;
    width: 314px;
    height: 40px;

    margin-right: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    text-align: center;
    line-height: 40px;

    background: #fff;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 8px;

    &:last-child {
      margin: 0;
    }
  }

  &__count--green {

    span {
      background: linear-gradient(180deg, #00DC4B 0%, #009231 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__count--red {

    span {
      background: linear-gradient(180deg, #E70000 0%, #B70000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__count--purple {

    span {
      background: linear-gradient(180deg, #BD00FF 0%, #74009C 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__table {
    width: 100%;
    height: 695px;
    overflow: hidden;
  }

  &__pagination {
    // width: 100%;
    background: linear-gradient(180deg, #5A8FFF 0%, #003094 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    position: absolute;

    margin-left: 137px;

    bottom: 0;

    span {
      display: flex;
      align-items: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .pagination {
    &__word-prev {
      margin-left: 2px;
      margin-right: 40px;
    }

    &__word-next {
      margin-right: 2px;
    }

    &__num {
      box-sizing: border-box;
      padding: 7px 11px;
      border-radius: 6px;
      margin-right: 29px;

      &--active {
        background: rgba(90, 143, 255, 0.1);
      }
    }
  }
}

.table {
  display: block;
  margin-top: 15px;
  height: 720px;
  overflow-y: scroll;

  &__checkbox {

    input {
      display: none;
    }
  }

  &__thead {
    display: flex;
    align-items: center;
    position: relative;
    height: 39px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;

      background: #5A8FFF;
      opacity: 0.1;
      border-radius: 8px;
      z-index: -1;
    }

    tr {
      position: absolute;

      th {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }

      @include tableItemPosition();
    }
  }

  &__tbody {
    display: flex;
    flex-direction: column;
    margin-top: 13px;

    tr {
      height: 40px;
      background-color: #fff;
      position: relative;
      border-radius: 8px;
      margin-bottom: 13px;

      td {
        box-sizing: border-box;
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 40px;

        @include tableItemPosition();

      }

      .item-status {
        position: relative;

        &-red {
          background: linear-gradient(180deg, #E70000 0%, #B70000 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        &__wrapper-red {
          padding: 5px 17px 6px 12px;
          background: linear-gradient(180deg, rgba(231, 0, 0, 0.1) 0%, rgba(183, 0, 0, 0.1) 100%);
          border-radius: 6px;
        }

        &-green {
          background: linear-gradient(180deg, #00DC4B 0%, #009231 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        &__wrapper-green {
          padding: 5px 17px 6px 12px;
          border-radius: 6px;
          background: linear-gradient(180deg, rgba(0, 220, 75, 0.1) 0%, rgba(0, 146, 49, 0.1) 100%);
        }

        &__icon {
          padding-left: 5px;
        }
      }
    }
  }
}

.photo__card {
  box-sizing: border-box;
  width: 316px;
  height: 316px !important;
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 10px;

  .card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-right: 10px;
    // margin-left: 10px;

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .card__under-title {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    p {
      margin: 0;
    }

    .card__serial-num,
    .card__price-second {
      color: #B4B4B4;
    }
  }
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;

  img {
    width: 300px;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -10px;

  div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;

    margin: 0;
  }
}