@import "./src/_variables";

.filter {

  &__title {
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;

    margin-bottom: 8px;

    @media (max-width: 1400px) {
      font-size: 27px;
    }
    @media (max-height: 890px) {
      font-size: 27px;
    }
  }

  .form {

    &__weight {
      // width: 184px;
      position: relative;
    }

    &__input {
      transition: all 0.2s;
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 28px;

      outline: none;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color: #000;

      border: 0.5px solid #919090;
      border-radius: 6px;

      padding: 8px 0 8px 10px;

      background-color: transparent;

      margin-bottom: 14px;

      @media (max-height: 880px) {
        margin-bottom: 10px;
      }

      &-wrapper--first {
        position: relative;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }

    &__input--group {
      display: flex;
      justify-content: space-between;
    }

    .first-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 11px;

      input {
        width: 100%;
      }
    }

    .second-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 11px;

      input {
        width: 100%;
      }
    }

    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 29px;
      gap: 11px;

      button {
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        @media (max-width: 1400px) {
          font-size: 11px;
        }
      }
    }

    &__accept {
      width: 172px;
      color: #fff;

      border: none;

      background: $background-gradient-blue;
      border-radius: 6px;
    }

    &__reset {
      width: 156px;
      position: relative;

      background-color: transparent;
      background: $background-gradient-blue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      border: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        border: 1px solid transparent;
        background: $background-gradient-blue border-box;
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }

    &__save {
      width: 29px;
      height: 27px;
      position: relative;
    }
  }
}

.no_focus {
  width: 100%;
  position: absolute;
  bottom: -100%;
}