//@import ".././src/_variables";
@import "./src/_variables";

.menu {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: all .2s;

    @media (max-height: 880px) {
      margin-bottom: 8px;
    }
  }

  &__buttons-first-section {
    display: grid;
    grid-template-columns: 1fr 28px;
    gap: 4px;
    margin-bottom: 9px;

    input {
      box-sizing: border-box;
      width: 100%;

      font-family: 'Montserrat-light';
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;

      background-color: transparent;

      padding: 8px 0 8px 10px;

      border: 1px solid #B4B4B4;
      border-radius: 6px;

      outline: none;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    .title {
      font-weight: 700;
      font-size: 35px;

      margin: 0;
      margin-right: 14px;

      @media (max-width: 1400px) {
        font-size: 27px;
      }
      @media (max-height: 890px) {
        font-size: 27px;
      }
    }
  }

  .settings {
    display: flex;
    margin-top: 5px;
    height: 20px;
    position: relative;
    z-index: 5;

    &__icon {
      cursor: pointer;
    }

    &__show-image-switcher {
      margin-left: 15px;
    }

    &__open--actions {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 12px;
      left: 38px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      &-buttons {
        display: flex;
        align-items: center;
        margin-left: 64px;
        gap: 8px;
      }
    }

    &__open {
      box-sizing: border-box;
      width: 397px;
      height: 247px;

      left: 0;

      position: absolute;
      top: -10px;
      left: -10px;

      z-index: -1;

      background: #FFFFFF;
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 8px;

      &-fields-settings--wrapper {
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(90, 143, 255, 0.1) 0%, rgba(0, 48, 148, 0.1) 100%);
        border-radius: 6px;

        padding: 4px 6px;
      }

      &--fields-settings {
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: 'Montserrat-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;

        background: $background-gradient-blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      form {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        gap: 43px;

        margin: 37px 10px 10px 10px;


        label {
          margin-bottom: 8px;
        }

        span {
          display: flex;
          flex-direction: column;

          input {
            margin: 0;
            margin-right: 7px;
          }
        }
      }
    }
  }

  &__hide_switcher {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    background: $background-gradient-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
  }
}

.menu__buttons {
  .buttons {

    &__button {
      box-sizing: border-box;
      width: 100%;
      position: relative;

      cursor: pointer;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      padding: 10px 0 10px;
      margin-bottom: 9px;

      background-color: #F4F4F4;

      border: none;
      border-radius: 8px;

      transition: 0.2s;

      color: #3265D0;

      @media (max-width: 1400px) {
        font-size: 12px;
        padding: 5px 0 5px;
      }
      @media (max-height: 890px) {
        font-size: 12px;
        padding: 5px 0 5px;
      }

      &:hover {
        background: $background-gradient-blue-hover;
        -webkit-background-clip: text;
      }

      &:active {
        color: #fff;
        background: $background-gradient-blue;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        border: 1px solid transparent;
        background: $background-gradient-blue border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }

      &:disabled {
        background: $background-disabled-button;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        cursor: no-drop;

        &::after {
          background: $background-disabled-button border-box;
          -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
        }
      }
    }

    &__search-icon {
      width: 28px;
      height: 28px;

      cursor: pointer;


      border: none;

      margin: 0;
      padding: 0;

      background: $background-gradient-blue;
      border-radius: 6px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border: 1px solid white;
        border-radius: 50%;
        position: absolute;
        top: 8.3px;
        left: 9px;

      }
    }
  }
}

.menu__buttons-seventh-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;

  .smaller__button {
    width: 100%;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    padding: 6px;

    margin-bottom: 6px;
  }
}
