$background-color-main: #f4f4f4;
$background-gradient-blue: linear-gradient(180deg, #5A8FFF 0%, #003094 100%);
$background-gradient-blue-hover: linear-gradient(180deg, #0029FF 0%, #001A77 100%);
$background-disabled-button: #B4B4B4;