

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.products {
  display: flex;
  margin: 26px 25px 17px 24px;

  &__menu {
    width: 383px;
    margin-right: 24px;
  }
}