.category-plus__pop-up {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  top: 0;

  .pop-up {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      width: 100vw;
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__item {
      box-sizing: border-box;
      position: relative;
      width: 612px;
      height: 363px;

      background: #F4F4F4;
      box-shadow: -2px -2px 130px -15px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
      padding: 44px;
    }

    &__close {
      position: absolute;
      right: 11px;
      top: 11px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__input {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #B4B4B4;

    border: none;

    margin-bottom: 12px;

    &:focus {
      outline: none;
    }
  }

  .description {
    padding-bottom: 51px;
  }

  &__button {
    width: 170px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #F4F4F4;

    background: linear-gradient(180deg, #5A8FFF 0%, #003094 100%);
    border-radius: 8px;
    border: none;
  }
}